[2021-09-27 16:56] san-coding opened #5 "[Docs] Add more screenshots of the UI"
**Current State:**
Some screenshots are available
**Desired State:**
Add more in the order of app workflow

[2021-09-27 17:00] san-coding opened #6 "Create .env file and add database credentials to the .env file"
#### Description
Import credentials from .env files inside all the relevant PHP files
(credentials are dbname,username,password,etc)

[2021-09-29 05:46] san-coding opened #7 "[Docs] Add installation guidelines to readme"
**Current State:**
Readme doesn't contain installation guidelines/steps
**Desired State:**
Add installations steps :

- [ ]  cloning the repo
- [ ] installing php, xampp
- [ ] setting up local server

[2021-09-29 05:51] san-coding opened #8 "[Docs] Add contribution guidelines for this awesome repository"
**Current State:**
There is no contribution.md file
**Desired State:**
Have a contribution.md file with guidelines for contributing to the project

[2021-09-29 05:56] sudhay23 commented on #8
Great.. Let's have it setup

[2021-09-29 09:31] nisha331 opened #9 "Revamp home page"
#### Current Behavior
Currently the home page looks quite boring, colorless and motionless

#### Desired Behavior
I would like to revamp the home page under hacktoberfest.

[2021-09-29 09:39] sudhay23 commented on #9
@nisha331 Hello. You can work on the same 👍 . Your PR can be made towards `new-gen` branch

[2021-09-29 14:44] sudhay23 opened #10 "[Feature] Add a payment gateway"
#### Current Behavior
We don't have an actual way to checkout the products purchased

#### Desired Behavior
Add a payment gateway (or a dummy one) which simulates a proper checkout

[2021-09-29 15:37] san-coding commented on #9
Hey @nisha331 , welcome to `ShopOnline`, feel free to add a PR and reach out for help whenever you want

[2021-09-29 16:25] san-coding commented on #10
@sudhay23 lets not go for the dummy one, please integrate Razor pay payment gateway API or any other

[2021-09-29 16:33] san-coding opened #11 "[Bug] Change credentials to point to localhost"
#### Description
App cannot be run on localhost now because `$host` points to `epizy.com` but we don't have the app hosted their anymore
[code]
#### Expected Behavior
Set default to localhost, so that contributors can run the app locally
[code]
## Make the above change in all the php files until we fix #6 (Storing credentials in a `.env` file)
#### Screenshots/Logs
## Uncomment localhost credentia

[2021-09-29 16:52] sudhay23 commented on #10
@san-coding Sounds good

[2021-09-29 16:59] san-coding opened #12 "Help us setup Github Actions (Continuous Integration / Build Checks) for this awesome repository"
#### Current Behavior
There are not automated Continuous Integration / Build  checks
#### Desired Behavior
Help us setup automated CI checks (Compile checks,Formatting checks etc) using GitHub actions

[2021-09-29 17:14] san-coding opened #13 "[Help Wanted] Cloud Migration (Deploy application on AWS EC2)"
#### Current Behavior
Application is not deployed on cloud, we are facing some issue with connecting to mySQL database running inside the EC2 instance , we are using Apache XAMPP web server
#### Desired Behavior
Help us connect to the mySQL database inside the EC2 instance or setup and move the data to AWS- RDS (Amazon Relational Database Service)

[2021-09-29 17:28] san-coding commented on #10
sorry this issue is exclusive to maintainers

[2021-09-29 17:35] san-coding opened #14 "Add Contact us page"
#### Current Behavior
There is no contact page
#### Desired Behavior
Add `contact us` page with relevant social media and GitHub repo links, you can also automate and send out an email if a person clicks on any of the links

[2021-09-29 17:39] san-coding opened #15 "Add recommended products section in cart page (content based recommendation engine)"
#### Current Behavior
Products list is static, not personalised to user
#### Desired Behavior
Add a </section> in cart page which displays product recommendations based on products that user has added to cart, we plan to leverage AWS personalise service in future, until then, this would be a good fix
## YOU CAN ADD THE SECTION AND DISPLAY DUMMY PRODUCTS FOR NOW UNTIL WE BUILD THE RECOMMENDATION EN

[2021-09-29 18:04] rohit1kumar commented on #14
in footer?

[2021-09-29 18:12] san-coding commented on #14
Yeah 👍🏻

[2021-09-29 18:16] san-coding commented on #14
you can add it as a footer in the landing page (`index.html`) or add a navigation link to separate `Contact us page`,

[2021-09-30 07:53] AwsmNinad25 commented on #5
I would like to work on this issue

[2021-09-30 09:30] san-coding commented on #5
Sure, welcome to `ShopOnline`, star us if you like the project

[2021-09-30 09:30] san-coding commented on #5
I will soon get back to you on how to run the app locally

[2021-09-30 11:05] AwsmNinad25 commented on #5
Sure

[2021-09-30 12:52] ankityadavhere opened #16 "URL of hosted project?"

[2021-09-30 14:19] sudhay23 opened #17 "[Feature] Host the project and update README"
The project is not hosted anywhere currently. Do host it and update README.md

[2021-09-30 14:20] ankityadavhere commented on #16
Hey, I'm not that familiar with PHP cuz I mostly work in Js env, Can I do the frontend part in Hacktober, as I do UI/UX designing i can create beautiful landing pages!

[2021-09-30 15:03] san-coding commented on #16
Yeah sure, feel free to open issues to revamp the UI

[2021-09-30 15:04] san-coding commented on #16
we are working hosting it , will hosted soon

[2021-09-30 16:11] ampsteric commented on #14
hi , i can add make a footer and add all links , please assign this issue to me @san-coding

[2021-09-30 16:28] san-coding opened #18 "Add product data"
#### Description
There are no products by default
#### Expected Behavior
Create default products in sql file
Use the schema from the image below

![](https://user-images.githubusercontent.com/65719940/133892084-8283e3ee-a9a8-4988-a06a-6bbf5b37dd20.png)

[2021-09-30 17:40] san-coding commented on #14
yeah sure

[2021-09-30 17:48] san-coding commented on #16
@sudhay , why have you opened a duplicate issue ?

[2021-10-01 04:08] san-coding commented on #5
http://shoponline-web.000webhostapp.com/login.html
Check out this

[2021-10-01 05:00] #18 closed

[2021-10-01 05:07] #16 closed

[2021-10-01 05:08] sudhay23 commented on #16
@ankityadavhere The project is now hosted please refer issue #17 for the updates. We'll soon update how to run the app locally too.

[2021-10-01 05:22] san-coding commented on #5
Hey @AwsmNinad25 are you working on this issue

[2021-10-01 05:25] sudhay23 commented on #17
@san-coding Please have a look

[2021-10-01 05:27] #17 closed

[2021-10-01 06:32] AwsmNinad25 commented on #5
Yes I am.

[2021-10-01 07:05] #14 closed

[2021-10-01 08:03] ankityadavhere opened #23 "[FRONTEND] What should be the tech stack?"
As we're using HTML with tailwind, I don't think it'll be much scalable. So, what say @sudhay23 @san-coding

Should we use something else?
Ps... Currently working with homepage

[2021-10-01 08:11] sudhay23 commented on #23
@ankityadavhere Yeah true that. But since this was a beginner level application, we thought of keeping it there. But we (with @san-coding) got bigger plans soon. Hope you can join us there 🎉

[2021-10-01 08:14] ankityadavhere commented on #23
So I continue with tailwind?

[2021-10-01 08:14] #23 closed

[2021-10-01 08:18] san-coding commented on #23
Sure , you can revamp with tailwind, we are looking for an attractive UI 👍🏻, thank you showing interest👍🏻

[2021-10-01 08:19] #11 closed

[2021-10-01 08:23] ankityadavhere opened #24 "[Feature] Frontend Structure"
- [ ] SEO
      - All necessary Meta tags
      - Twitter meta
      - OpenGraph tags

- [ ] Folder Struncture
      - `.gitignore`
      - Other necessary files (Changelog.md etc)

- [ ] Design
      - Landing Page
      - Login
      - Admin
      - Cart.... (as of now)

- [ ] Cherry on top
      - Global dark mode toggle (should be based on user's system settings initially) `prefers-color-schem

[2021-10-01 08:28] san-coding commented on #5
Awesome, take screenshots from landing page, there is issue with logging in and viewing products, we are working on it, meanwhile you can take screenshots of the landing page, registration of customer and admin, login of customer and admin and put them together with the existing screenshots in the readme, make sure all the screenshots have a 1 line description in the readme, make sure they're in t

[2021-10-01 08:31] san-coding commented on #5
http://shoponline-web.000webhostapp.com/index.html

Landing page

[2021-10-01 08:39] san-coding commented on #24
Sounds good @ankityadavhere , clone the project and try running it locally on a XAMPP server to get started

[2021-10-01 08:39] san-coding commented on #24
Feel free to derive separate issues from each task, thank you for showing interest🎉

[2021-10-01 08:41] ankityadavhere commented on #24
Better to give this issue a separate tag, say `epic/mega` so other devs can differentiate between this issue and it's child issues

[2021-10-01 08:45] ankityadavhere commented on #24
what branch should i push, any development branch?

[2021-10-01 08:45] AwsmNinad25 commented on #5
Thank you so much and sure I'll get back to you if I need any help

[2021-10-01 08:58] san-coding commented on #24
Yes, I have made a development branch

[2021-10-01 09:02] san-coding commented on #24
I will unassigns you from this and assign you to child issues you derive from this, fine ?

[2021-10-01 09:04] san-coding commented on #24
@ampsteric would you like to work on any of these tasks ? footer you designed looks good 🎉

[2021-10-01 09:12] ankityadavhere opened #26 "[SEO] - Perform fixes to <head> to make the website SEO friendly"
- [ ] All necessary Meta tags
- [ ] Twitter meta
- [ ] OpenGraph tags

[2021-10-01 09:13] ankityadavhere opened #27 "Folder Structure"
- [ ] `.gitignore`
- [ ] Other necessary files (Changelog.md etc)

[2021-10-01 09:14] ankityadavhere opened #28 "Design"
- [x] #51
- [ ] Login
- [ ] Admin
- [ ] Cart.... (as of now)
This is a child issue of parent issue #24

[2021-10-01 09:15] ankityadavhere opened #29 "Features"
- [ ] #44
- [x] #32

[2021-10-01 09:18] san-coding commented on #29
Leave a comment on the issue if you want me to assign It to you🎉

[2021-10-01 09:22] ankityadavhere commented on #27
#30 closes this issue 🚀

[2021-10-01 09:31] #8 closed

[2021-10-01 09:31] ankityadavhere commented on #26
working on it.... 😴

[2021-10-01 09:40] ankityadavhere opened #31 "Add a 404 page"
Design and create and 404 page

[2021-10-01 09:41] san-coding commented on #31
Hey @ankityadavhere can you add the labels to issue you open ? Thanks

[2021-10-01 09:44] ankityadavhere commented on #31
I don't have a option to 🤷‍♂️

[2021-10-01 09:45] princekushwaha commented on #31
I want to work on this

[2021-10-01 09:48] kartik633 commented on #31
Can i Work on this

[2021-10-01 10:06] san-coding commented on #31
Thank you guys for showing interest👍🏻, i have assigned this to @princekushwaha for now, since he came first

[2021-10-01 10:08] san-coding commented on #31
@kartik633 There are plenty of other issues you can work upon, this is a project in its beginning stage, you can open more issue on revamping UI/backend and work on it🎉

[2021-10-01 10:12] san-coding opened #32 "Favicon for our website"
![image](https://user-images.githubusercontent.com/65719940/135603624-ccd2a5e9-49a0-4883-9baa-670d77a31a5d.png)
Favicon is the logo that you see on the tab

[2021-10-01 10:15] ankityadavhere opened #33 "add a `manifest.json` and `robots.txt`"

[2021-10-01 10:15] san-coding commented on #32
@kartik633 woul you like to work on this issue ?

[2021-10-01 10:15] sudhay23 commented on #26
@ankityadavhere You have it assignedd now. Good going 👍

[2021-10-01 10:20] shreyaansjain06 commented on #32
i want to work on this issue

[2021-10-01 10:29] princekushwaha commented on #31
I have created the page. Take a look at it.

![404](https://user-images.githubusercontent.com/57499371/135605522-6c778f25-a7ab-441d-b41a-3eea30f6e4d6.png)

[2021-10-01 10:31] ankityadavhere commented on #31
Can you add some basic animations to it?

[2021-10-01 10:31] ankityadavhere commented on #31
@princekushwaha  Can you add some basic animation to it?

[2021-10-01 10:32] Parimalisgreat commented on #6
@san-coding  I would like to take it

[2021-10-01 10:33] ankityadavhere commented on #26
PR #34 closes this

[2021-10-01 10:33] #27 closed

[2021-10-01 10:33] #26 closed

[2021-10-01 10:37] AwsmNinad25 commented on #5
I have one doubt @san-coding . What will be the src for screenshots? They are currently in my local machine

[2021-10-01 10:41] princekushwaha commented on #31
What about 360 deg rotation of 404 gem. It will look good I guess.

[2021-10-01 10:50] sudhay23 commented on #32
@shreyaansjain06 Thanks for evincing interest. Yeah you can work on this

[2021-10-01 10:52] shreyaansjain06 commented on #32
Thanks for giving me this issue can you provide the image you want as favicon

[2021-10-01 10:55] sudhay23 commented on #32
You can take the 'cart' logo from our existing hosted link. But you may make some photo edits so it looks good on all title bars (even dark ones)

[2021-10-01 10:56] shreyaansjain06 commented on #32
ok i will

[2021-10-01 11:06] shreyaansjain06 commented on #32
![cart ](https://user-images.githubusercontent.com/86606251/135609944-a87d1a8c-728d-4262-98de-c45e1020981b.jpeg)

How is it this will work in all title bars i can change background colour if you want

[2021-10-01 11:16] ShlokMohanty commented on #33
@ankityadavhere can i work on this issue ?
can you assign me this task?

[2021-10-01 11:17] ankityadavhere commented on #33
I'm not the maintainer of this project :)

[2021-10-01 11:17] ShlokMohanty commented on #7
@san-coding can i work on this issue?

[2021-10-01 11:22] ankityadavhere commented on #33
Hey, @ShlokMohanty are you working on this?

[2021-10-01 11:39] mayankgoyal-13 commented on #32
hi, i would like to contribute to this, I can create favicons for different dimensions of laptop, android and ios. Also, I can provide you with a new logo

[2021-10-01 11:46] mayankgoyal-13 opened #36 "Image loading error"
#### Description

The images in row 1 of browse products are not able to load on the live website. This issue can arise due to error in file format or wrong relative path.

#### Expected Behavior

All the images should be loaded properly.

#### Screenshots/Logs

![image_parth_error](https://user-images.githubusercontent.com/65842833/135614650-ea9d888b-7dcc-4672-8e79-5f751aa22738.PNG)

[2021-10-01 11:47] mayankgoyal-13 commented on #36
Hey, I would like to contribute and fix this error. Pls label it Hacktoberfest and assign it to me

[2021-10-01 11:53] AwsmNinad25 commented on #5
#37 Please review the pull request

[2021-10-01 11:56] ShlokMohanty commented on #33
yes i would be excited and would surely work on this

[2021-10-01 11:56] ShlokMohanty commented on #33
just waiting to be assigned

[2021-10-01 12:16] AwsmNinad25 commented on #29
I want to work on global dark mode toggle please assign me

[2021-10-01 12:29] princekushwaha commented on #31
Hey I have updated it look at this.
![simplescreenrecorder-2021-10-01_17 56 58](https://user-images.githubusercontent.com/57499371/135619852-daa10585-cd5b-4f95-ab6a-6b9f09c88e44.gif)

[2021-10-01 12:30] SayantaniDeb opened #38 "Sticky Navbar feature request"
#### Current Behavior
The navbar isnt sticky

#### Desired Behavior
The navbar will be made sticky

---
**[Contributor Guide](https://docs.meshery.io/project/contributing)**

[2021-10-01 12:30] SayantaniDeb commented on #38
Please assign me this task!

[2021-10-01 12:41] shreyaansjain06 commented on #32
I have made a pr you can check and if you want any more changes do let me know

[2021-10-01 12:58] falguni-k commented on #28
Hi! I would like to work on this issue. Please assign it to me.
Thanks!

[2021-10-01 13:06] sudhay23 opened #40 "Incorrect syntax in `shoponline.sql`"
#### Description
The DB file to be imported seems to have some syntax issues and fails to get imported

#### Expected Behavior
The SQL file can be imported

[2021-10-01 13:06] sudhay23 commented on #40
@san-coding Can you help us out with this?

[2021-10-01 13:16] san-coding commented on #40
Sure

[2021-10-01 13:17] san-coding commented on #38
Welcome to shopOnline , thank you for showing interest,  feel free to reach out for help

[2021-10-01 13:46] ankityadavhere commented on #36
seems like the cdn links are broken, need to change them, also the images are not high resolution 🤔
@san-coding should I add new images?

[2021-10-01 14:19] ankityadavhere commented on #36
PR #42 closes this issue

[2021-10-01 14:25] ankityadavhere commented on #33
PR #41 closes this

[2021-10-01 14:25] #33 closed

[2021-10-01 14:36] san-coding commented on #38
Can you show a sample screenshot of what you plan to implement , @SayantaniDeb

[2021-10-01 14:37] san-coding commented on #40
I think replacing the acute/backtick (`) with double quotes will solve the problem, will add a PR soon

[2021-10-01 14:48] san-coding commented on #40
@sudhay23 please review this PR

[2021-10-01 15:06] san-coding commented on #36
Yes you can add new images

[2021-10-01 15:11] #36 closed

[2021-10-01 15:13] san-coding commented on #36
@mayankgoyal-13 , I will be opening a new issue now, will assign it to you

[2021-10-01 15:49] san-coding commented on #7
@ShlokMohanty thank you for showing interest, I will be soon creating issue , will invite you to contribute

[2021-10-01 15:50] san-coding commented on #6
sure @Parimalisgreat

[2021-10-01 15:57] san-coding commented on #6
for reference :

https://github.com/san-coding/ShopOnline-Web-App/blob/2a71b75bf99a765679a0c6f27d8b0cc66db26a7e/With%20PHP/backend/addProduct.php#L12-L15

we have hardcoded these in many php files, you have to put the credentials in a single file and make the other files use it,
we already have [databaseConnect.php](https://github.com/san-coding/ShopOnline-Web-App/blob/2a71b75bf99a765679a0c6f27d8b

[2021-10-01 15:59] #40 closed

[2021-10-01 16:01] sudhay23 commented on #31
Looks great. So how are you planning to make it functional given that this application is built using PHP?

[2021-10-01 16:01] san-coding commented on #5
@AwsmNinad25 always reference the issue whenever you open a PR , thank you for the contribution, looking forward to more contributions from you 👍🏻

[2021-10-01 16:02] #5 closed

[2021-10-01 16:23] san-coding commented on #31
@princekushwaha , it looks amazing🎉

[2021-10-01 16:25] san-coding commented on #31
@sudhay23 for now lets merge this , we can later figure out how to call this whenever the error occurs

[2021-10-01 16:26] san-coding opened #44 "Global dark mode toggle (should be based on user's system settings initially) `prefers-color-scheme`"
@AwsmNinad25 do you want to work on this ?

[2021-10-01 16:37] princekushwaha commented on #31
I will add .htaccess at the root and redirect the request to 404.html for a status code 404.

[2021-10-01 16:39] princekushwaha commented on #31
U may create another issue for this I will resolve it too 😁

[2021-10-01 16:39] san-coding opened #45 "add discord server invite link to footer in landing page , readme.md and contributions.md"
#### Current Behavior
We have a discord server but it is not added to any file
#### Desired Behavior
add discord server invite link to footer in landing page , readme.md and contributions.md

Discord invite link - https://discord.gg/yhtkaawfNq

[2021-10-01 16:40] princekushwaha commented on #31
I already added anchor tag for home page there.

[2021-10-01 16:41] san-coding commented on #45
@mayankgoyal-13  or @shlokmohanty , would anyone of you like to take this up ?

[2021-10-01 16:42] san-coding commented on #31
Have you opened the PR for this issue ?

[2021-10-01 16:44] san-coding commented on #28
@falguni-k there are 4 tasks, which one would you like to take up ?

[2021-10-01 16:51] shashank1503-cipher commented on #45
Hey can i work on this issue

[2021-10-01 16:53] san-coding commented on #32
go ahead with this favicon

[2021-10-01 16:58] san-coding commented on #45
sure @shashank1503-cipher , welcome to ShopOnline, looking forward to your contributions 🎉

[2021-10-01 17:00] princekushwaha commented on #31
I will make PR after 20min.

[2021-10-01 17:10] princekushwaha commented on #31
I have made the PR.

[2021-10-01 17:21] Omkar845 commented on #29
Can I work on this issue if no one is assigned

[2021-10-01 17:23] #31 closed

[2021-10-01 17:23] san-coding commented on #31
Thanks @princekushwaha , appreciate your efforts🎉

[2021-10-01 17:23] san-coding commented on #31
shall I make a PR for this

[2021-10-01 17:28] ShlokMohanty commented on #45
@san-coding  was not active when your text showed up just saw it now sorry for the delayed reply .

[2021-10-01 17:32] ShlokMohanty commented on #12
@san-coding  can i take on this issue .I know cnotinuous integration through jenkins and build checks through jenkins as well as maven .So if you can assign me this task ?

[2021-10-01 17:35] san-coding opened #48 "Add .htaccess and route to error404.html"
#### Current Behavior
`error404.html` exists but is not being called whenever required
#### Desired Behavior
Add `.htaccess` and route to `error404.html

[2021-10-01 17:39] sudhay23 commented on #48
Can I take this up?

[2021-10-01 17:40] sudhay23 commented on #48
Oops, didn't see that you assigned it for youself lol

[2021-10-01 17:45] #48 closed

[2021-10-01 17:54] san-coding opened #50 "Invite people to contribute to repo by creating a modal"
#### Current Behavior
There is no indication that our platform is open-source
#### Desired Behavior
Build a modal that displays discord links , GitHub links , inviting people to contribute to our repository

[2021-10-01 17:55] san-coding commented on #45
@ShlokMohanty , its okay, shall I tag you on issue that I open? feel free to open issues. , I will assign it to you

[2021-10-01 17:56] sudhay23 commented on #50
Thanks. I'll work on it

[2021-10-01 18:13] Omkar845 commented on #29
global dark mode toggle

[2021-10-01 18:24] san-coding commented on #44
@omkar845 shall I assign this to you

[2021-10-01 18:27] san-coding commented on #9
@nisha331 are you working on this ?

[2021-10-01 18:31] san-coding commented on #12
@ShlokMohanty  sure, we were looking for help on this issue

[2021-10-01 18:36] AwsmNinad25 commented on #28
Assign this issue to me I would like to work on the landing page

[2021-10-01 18:37] Omkar845 commented on #44
yes assign me

[2021-10-01 18:49] san-coding opened #51 "Animate Landing Page"

[2021-10-01 18:51] san-coding commented on #28
@AwsmNinad25 please comment on that issue, I have opened an issue for landing page

[2021-10-01 18:52] san-coding commented on #44
Thank you for showing interest, looking forward to merging you contributions🎉

[2021-10-01 18:52] san-coding commented on #51
@AwsmNinad25 please comment here, so that I can assign this to you

[2021-10-01 18:53] AwsmNinad25 commented on #51
Assign me I would like to contribute

[2021-10-01 18:55] san-coding commented on #51
Add some beautiful animation / use tailwind css if possible

[2021-10-01 18:59] AwsmNinad25 commented on #51
Yeah sure. Thank you for assigning me

[2021-10-01 18:59] #50 closed

[2021-10-01 19:08] san-coding opened #53 "[Docs] Add shield/ badges for contributors and issues count"
**Current State:**

There are no shields/badges showing contributor and issue count

**Desired State:**

Add contributor and issues count shield/ badges to readme

This is what a sample badge/shield looks like
<img width="134" alt="image" src="https://user-images.githubusercontent.com/65719940/135673626-2c8cb3de-33f9-488b-8ec2-68f5a0cd072d.png">

They can be generated for our repo from  [shields.i

[2021-10-01 19:23] san-coding opened #55 "Add a floating action button to trigger the modal"
#### Current Behavior

Modal pops up whenever a user visits the website for the first time, but never appears after that

#### Desired Behavior

It would be better to to have a floating action button to trigger the modal

[2021-10-01 19:24] sudhay23 commented on #55
@san-coding I'm on it. Thanks

[2021-10-01 19:29] #55 closed

[2021-10-01 19:46] san-coding commented on #24
@ankityadavhere always fetch and merge before opening PR, so that you don't carry the trail of previous commits made by others

[2021-10-01 19:48] san-coding commented on #7
@Wolfy7 always mention the issue in your PR so that the issue gets closed when your PR is merged, thank you for your contributions 🎉

[2021-10-01 19:49] #7 closed

[2021-10-01 20:14] schmelto commented on #53
I would like to work on this issue

[2021-10-01 23:08] ankityadavhere commented on #24
Oh okay 😅

[2021-10-02 01:17] AwsmNinad25 opened #58 "Typo: installation_guidelines.md"
![Screenshot from 2021-10-02 06-40-57](https://user-images.githubusercontent.com/72618584/135699331-4102f97c-794d-4678-af64-a7657d6ed28a.png)
![Screenshot from 2021-10-02 06-41-08](https://user-images.githubusercontent.com/72618584/135699335-f8e8e3a0-7c16-4871-8a17-addd18b8f336.png)

[2021-10-02 01:18] AwsmNinad25 commented on #58
I would like to resolve this issue please assign me

[2021-10-02 03:47] sudhay23 opened #59 "[Docs] Add link to CONTRIBUTING.md in the Readme"
**Current State:**
The README file lacks a link to CONTRIBUTING.md.

**Desired State:**
The README file has a link to CONTRIBUTING.md in the appropriate place (right after Installation Guidelines).

[2021-10-02 03:49] sudhay23 commented on #58
@AwsmNinad25 You can proceed 👍

[2021-10-02 03:51] #45 closed

[2021-10-02 03:57] san-coding commented on #59
I think this issue was resolved by #47  , can be closed

[2021-10-02 03:59] sudhay23 commented on #59
Just merged? Lol

[2021-10-02 04:00] sudhay23 commented on #59
@san-coding I still don't see it there

[2021-10-02 04:01] san-coding commented on #58
@AwsmNinad25 where is the type ?

[2021-10-02 04:02] sudhay23 commented on #58
.... "visite" the site

[2021-10-02 04:09] AwsmNinad25 commented on #58
Also "selecte prefered" language

[2021-10-02 04:16] san-coding commented on #58
👍🏻👍🏻

[2021-10-02 04:19] san-coding opened #60 "Integrate a chatbot"
#### Current Behavior
There are no chatbots on the website
#### Desired Behavior
Integrate a chatbot with a floating action button that makes the chatbot popup, you can use dialogflow API or tools of your choice

[2021-10-02 04:22] san-coding commented on #59
Yeah , sorry

[2021-10-02 08:09] #58 closed

[2021-10-02 12:03] #53 closed

[2021-10-02 12:18] radiantly commented on #59
Hi, I'd like to work on this issue!

[2021-10-02 12:19] sudhay23 commented on #59
Hey @radiantly. You can go ahead 🎉

[2021-10-02 12:26] sudhay23 commented on #59
@radiantly Great job

[2021-10-02 12:28] #59 closed

[2021-10-02 12:40] radiantly opened #63 "Update screenshots to match latest version of codebase"
Could the screenshots in the README updated?

Maybe we could leverage GitHub Actions to generate the screenshots.

[2021-10-02 13:14] mayankgoyal-13 commented on #36
okay

[2021-10-02 13:24] princeprag opened #64 "Email id format validation during signup"
#### Current Behavior

As of now there is no email validation and so `abc@bcom` is also taken as a valid email id. In future, if features such as email verification will be implemented, such entries will create error.

#### Desired Behavior

The format of email should be validated so as `xxx@yyy.bbb` can only be given in the email field.

#### Implementation

#### Acceptance Tests

#### Mockups

-

[2021-10-02 13:25] princeprag commented on #64
Working on the above under HF!!!

[2021-10-02 13:29] sudhay23 commented on #64
Hello. Are you sure that abc@bcom will work?? Since we've used Email input type on HTML, I doubt the same. Maybe you can help us out with screenshots showing the bug

[2021-10-02 13:31] sudhay23 commented on #63
@radiantly Yeah sure. Let's do it 🤟

[2021-10-02 13:46] radiantly commented on #63
Maybe someone else can take it up :)

[2021-10-02 13:47] ShlokMohanty commented on #12
@san-coding what is the deadline for submitting the task or should I update you like in stages ?

[2021-10-02 13:48] princeprag commented on #64
@sudhay23 yes, was able to do..
![Uploading Screenshot (75).png…]()

[2021-10-02 13:49] princeprag commented on #64
Yes, @sudhay23
![Screenshot (75)](https://user-images.githubusercontent.com/51314718/135719198-3d046140-379d-40a3-bafd-a80898c6e0c3.png)

[2021-10-02 14:28] sudhay23 commented on #63
Cool then :) 👍

[2021-10-02 18:03] san-coding commented on #12
Hey @ShlokMohanty , please take your time, no pressure, you can update me on how you're solving the issue

[2021-10-02 18:05] san-coding commented on #64
@sudhay23 , email is not validated properly, currently it checks only if `@` is present, I was going to open this issue, thanks @princeprag , I will assign this to you

[2021-10-02 18:45] ShlokMohanty commented on #12
@san-coding today i saw github actions from url:
https://github.com/features/actions

[2021-10-02 18:45] ShlokMohanty commented on #12
@san-coding i will be starting from tomorrow onwards i guess it works for you?

[2021-10-03 05:26] san-coding commented on #12
Sure, take your time👍🏻

[2021-10-03 05:31] san-coding commented on #38
Hey @SayantaniDeb are you working on this ?

[2021-10-03 05:33] san-coding commented on #64
@princeprag are you working on this ?

[2021-10-03 05:33] san-coding commented on #51
@AwsmNinad25 are you working on this ?

[2021-10-03 05:58] AwsmNinad25 commented on #51
Yeah I am but it would take some time cause some other task came in between. You can unassign me and give this task to someone else

[2021-10-03 06:46] san-coding commented on #51
No problem , take your time, but if anyone else wants to submit a PR , they are free to do so

[2021-10-03 06:47] princeprag commented on #64
@san-coding Yes

[2021-10-03 09:35] mayankgoyal-13 commented on #63
i can update the screenshot in the read me file.

[2021-10-03 09:39] san-coding commented on #63
Sure go ahead 👍🏻

[2021-10-03 10:10] mayankgoyal-13 commented on #63
in this, I have to take a screenshot of the live website and update it in the read me file. Am I correct?

[2021-10-03 10:37] san-coding commented on #63
yes 👍🏻, updating the landing page (`index.html`) screenshots in the readme would be enough

[2021-10-03 14:02] SayantaniDeb commented on #38
https://user-images.githubusercontent.com/74983536/135757048-a8ec07f5-cd60-4b09-bef1-9dff31f34da3.mp4

The changes made here are:
* The scrollbar UI is changed
* The navbar is made sticky in all the pages.
@san-coding

[2021-10-03 14:27] #32 closed

[2021-10-03 14:30] #64 closed

[2021-10-03 14:32] san-coding commented on #63
@mayankgoyal-13 I have merged some PRss which might have made some changes in the UI, so make sure you fetch and merge main branch with your newly created branch so that you can see the latest UI and we can avoid merge conflicts

[2021-10-03 14:33] san-coding commented on #38
Thanks @SayantaniDeb , looks amazing, you can go ahead and create the PR

[2021-10-03 14:35] san-coding commented on #6
@Parimalisgreat are you working on this issue ?

[2021-10-03 14:37] san-coding opened #66 "Update hosted website"
#### Description
Hosted website is not up to date
#### Expected Behavior
Update it to the latest main branch

I will checkout a branch from the PR which changed the credentials from 000webhost to localhost

[2021-10-03 14:38] san-coding commented on #66
@sudhay23 there might be 1 more PR, after merging that you can work on this issue

[2021-10-03 14:39] san-coding commented on #44
@Omkar845 are you working on this issue ?

[2021-10-03 14:53] san-coding opened #67 "center the get started button"
#### Current Behavior
## Get started button is not centered (Make sure the website remains responsive after the change)
![image](https://user-images.githubusercontent.com/65719940/135759369-ada10137-e011-4ec8-804e-6b629700d89d.png)

#### Desired Behavior
Center the button and add the discord link

[2021-10-03 14:57] Abhishek07-0302 commented on #67
Hey, I would like to contribute. Kindly assign me if available.

[2021-10-03 15:04] #38 closed

[2021-10-03 15:08] san-coding opened #69 "Setup PHP Composer workflow"
#### Description
Setup PHP Composer workflow , fix bugs in `composer.json`

[2021-10-03 15:16] san-coding commented on #69
PR is in draft , but havent marked it as draft, so net yet ready to be merged @sudhay23

[2021-10-03 17:27] san-coding commented on #38
Hey @SayantaniDeb , unfortunately , this PR has reverted the changes made by @sudhay23 in PR #52 and #56, @sudhay23 can you please compare your and her changes to figure out we can make both work

[2021-10-03 17:31] AwsmNinad25 commented on #51
@san-coding I'll make a by PR tommorow

[2021-10-03 17:47] princeprag opened #72 "[Docs] Update the link to code_of_conduct.md in contributing.md"
**Current State:**
"Make sure to follow Code of Conduct" at the bottom is a plain text.

**Desired State:**
In the contributing.md file we should have a hyperlink to code_of_conduct.md file where it says to read the code of conduct

[2021-10-03 17:49] princeprag commented on #72
@san-coding , shall I do it?

[2021-10-03 17:50] san-coding commented on #72
Sure , generate a standard code of conduct file

[2021-10-03 17:50] san-coding commented on #72
checkout a new branch from main for each issue

[2021-10-03 17:51] princeprag commented on #72
There is already one file right?

[2021-10-03 17:59] san-coding commented on #72
save it as CODE_OF_CONDUCT.md

[2021-10-03 18:00] san-coding commented on #72
# Contributor Covenant Code of Conduct

## Our Pledge

We as members, contributors, and leaders pledge to make participation in our
community a harassment-free experience for everyone, regardless of age, body
size, visible or invisible disability, ethnicity, sex characteristics, gender
identity and expression, level of experience, education, socio-economic status,
nationality, personal appearance,

[2021-10-03 18:00] san-coding commented on #72
👆🏻should be the content

[2021-10-03 18:04] san-coding opened #73 "[Docs] Add MIT License"
**Current State:**
LICENSE IS EMPTY
**Desired State:**
ADD MIT LICENSE

[2021-10-03 18:38] Omkar845 commented on #44
I made a dark mode toggle button but unable to code in JavaScript need to add some js framework

[2021-10-03 18:38] Omkar845 commented on #44
Plz help me

[2021-10-03 19:09] san-coding commented on #44
Please open the pull request with the code you have added so far , so that I can review and help you out

[2021-10-03 19:10] san-coding commented on #44
you can add more commits even after you have opened the PR, those commits will be reflected in that PR as long as the commits are in the same branch, feel free to reach out for any help, open the PR

[2021-10-03 19:59] #51 closed

[2021-10-03 20:03] san-coding commented on #67
please fetch , merge and then commit your issues to avoid merge conflicts, feel free to reach out for any help

[2021-10-04 03:23] princeprag opened #79 "Prompt the user to give a strong password"
#### Current Behavior

Currently the signup form accept passwords such as `123456789` which is very weak. Google also shows a warning of potential breach of such passwords

#### Desired Behavior

Prompt the user to give a strong password, at least 1 uppercase, 1 lowercase, 1 digit , 1 speacial symbol and total length between 8-15.

#### Implementation

#### Acceptance Tests

#### Mockups

---
**[C

[2021-10-04 03:24] princeprag commented on #79
@san-coding

[2021-10-04 03:36] #72 closed

[2021-10-04 03:37] san-coding commented on #79
Sure , go ahead and make a PR

[2021-10-04 03:41] san-coding commented on #67
@Abhishek07-0302 , discord links have been added using a separate PR, just centre the button

[2021-10-04 03:42] san-coding commented on #67
make sure you fetch, merge and before committing your changes

[2021-10-04 03:59] #73 closed

[2021-10-04 04:18] sridhar-5 commented on #6
can I take this up @san-coding, if this issue is inactive? I will open a pull request today itself.

[2021-10-04 04:28] sridhar-5 commented on #6
Thanks man.

[2021-10-04 04:37] #79 closed

[2021-10-04 05:06] Abhishek07-0302 commented on #67
Okay

[2021-10-04 05:57] Abhishek07-0302 commented on #67
Hey please unassign me, I don't know what mistake I am doing. So, I am not able to change it.

[2021-10-04 06:10] #6 closed

[2021-10-04 06:20] sudhay23 commented on #66
@san-coding Is this ready to be deployed?

[2021-10-04 06:22] san-coding commented on #66
now that the .env file is created we must make all the php file use the variables inside .env

[2021-10-04 06:22] san-coding commented on #66
after that we will only need the change the .env files for changing credentials

[2021-10-04 06:24] sudhay23 commented on #66
@san-coding Okay fine :)

[2021-10-04 07:02] sridhar-5 commented on #67
I'll try giving it a go. can you assign me this issue @san-coding

[2021-10-04 07:18] san-coding opened #83 "All php files have to access credentials from the newly created .env file"
#### Description
db credentials are hardcoded in each file , now .env file exists
#### Expected Behavior
All php files have to access credentials from .env file

[2021-10-04 07:19] san-coding commented on #12
@ShlokMohanty any update ?

[2021-10-04 07:27] san-coding opened #84 "[Docs] Add discord and MIT License badges / sheilds"
[Docs] Add discord and MIT License badges / sheilds to README.md , (contributor and issue count shields/badges are already present at the top)

[2021-10-04 07:36] AnirbanBall commented on #84
I want to work on this

[2021-10-04 07:38] ShlokMohanty commented on #12
yeah on it @ShlokMohanty was performing github actions for integration yesterday was a little occupied will b ecompleting it soon but

[2021-10-04 07:38] ShlokMohanty commented on #12
will be updating you tonight or for sure tomorrow morning ?

[2021-10-04 08:07] sudhay23 commented on #83
Thanks for assigning this to me :)

[2021-10-04 08:20] #67 closed

[2021-10-04 08:22] san-coding commented on #12
Yeah sure, take you time, no hurry

[2021-10-04 08:40] ShlokMohanty commented on #12
we need to do the build checks and continuous integration right ?

[2021-10-04 08:42] san-coding commented on #12
Yes

[2021-10-04 08:56] ShlokMohanty commented on #12
yes then going in the right path

[2021-10-04 08:56] ShlokMohanty commented on #12
will be done soon

[2021-10-04 09:12] ShlokMohanty commented on #12
![image](https://user-images.githubusercontent.com/59838234/135824932-849f78fb-82e1-42e8-841f-2c2e0b974bea.png)

so we have to add the continuous integration workflow for github actions for php i guess?

[2021-10-04 09:20] san-coding commented on #44
@Omkar845 please make a PR with whatever you have done, so that I can help you

[2021-10-04 09:41] san-coding commented on #12
yes I tried it , but it is throwing some build errors in composer.json

[2021-10-04 09:46] san-coding commented on #12
do you know how to build the website and get a live link to preview the website after each commit

[2021-10-04 09:51] TishaJhabak1014 commented on #84
@sudhay23 Can more beginner friendly issues? Plz. Let me know.

[2021-10-04 09:52] sudhay23 commented on #84
@TishaJhabak1014 Thanks for hopping in. We'll ping you once we spot more such beginner friendly issues. @san-coding

[2021-10-04 09:55] TishaJhabak1014 commented on #84
Yes surely. Thanks a lot. Looking forward to contribute : )

[2021-10-04 10:10] san-coding opened #86 "Animate registration form, browse product and footer section"
#### Current Behavior
Only some part of the landing page is animated

#### Desired Behavior
Animate registration form, browse product and footer section  (when scrolled down)

you can replicate the existing animation for nav bar and other elements in the landing page

[2021-10-04 10:11] san-coding commented on #86
@TishaJhabak1014 would you like to work on this issue ?

[2021-10-04 10:13] TishaJhabak1014 commented on #86
Yes, will like to go for it

[2021-10-04 10:14] san-coding commented on #86
Thanks

[2021-10-04 10:15] san-coding commented on #86
Refer to the files changed in this PR #75 , feel free to reach out for any help

[2021-10-04 10:22] ShlokMohanty commented on #12
@san-coding live preview can you explain me what is it live preview are you talking about the changes we see on the code that gets directly implemented to the server ?

[2021-10-04 10:23] ShlokMohanty commented on #12
@san-coding should i look at the compiser.json file ?

[2021-10-04 10:23] ShlokMohanty commented on #12
if its showing an error?

[2021-10-04 10:25] san-coding commented on #12
Yes , refer to this https://github.com/layer5io/layer5/discussions/2240

[2021-10-04 10:27] san-coding commented on #12
yes, try setting up php checks , it will create the `php.yml` file, which throws errors in `composer.json` in each build

[2021-10-04 10:27] san-coding commented on #12
have to fix that

[2021-10-04 10:38] ShlokMohanty commented on #12
@san-coding yes sure fill try to fix that

[2021-10-04 11:02] sridhar-5 commented on #86
I would like to take this up @san-coding , @sudhay23. can someone assign this to me please?

[2021-10-04 11:16] san-coding commented on #86
@sridhar-5 I will open up issues and assign it to you

[2021-10-04 12:11] I-ArchanaDash opened #88 "Subscribe us feature"
#### Current Behavior

Users can't get the latest updates.
#### Desired Behavior

I want to add the subscribe-us (front end) Part for the users to get the latest updates for easy shopping.

---
**[Contributor Guide](https://docs.meshery.io/project/contributing)**

[2021-10-04 12:39] sudhay23 commented on #88
Can you elaborate on the feature?

[2021-10-04 13:01] I-ArchanaDash commented on #88
Users need to enter their mail id and press the subscribe button to get notifications related to any offers/sales/price drop etc. Presently the site doesn't offer any sort of these things . But I want to do its front-end part, so the back-end has to be done by somebody else.

[2021-10-04 13:08] sudhay23 commented on #88
Oh great. You can go ahead 👍

[2021-10-04 13:23] #83 closed

[2021-10-04 14:00] SushantPatial opened #90 "A smaller navbar"
#### Description
The navbar display for pc monitors seems a bit big.

#### Expected Behavior
I'd like to tone it down a tad and also add some other hover features to the items.

[2021-10-04 14:25] san-coding commented on #90
Thanks, this is an issue i was going to open, Do you want to work on this ?

[2021-10-04 14:30] sudhay23 opened #92 "Setup GitHub Actions to greet New Contributors"
Setup GitHub Actions to greet New Contributors with an image and a welcome message

[2021-10-04 14:31] sridhar-5 commented on #92
I think I will do this.

[2021-10-04 15:12] #84 closed

[2021-10-04 15:19] #9 closed

[2021-10-04 15:30] san-coding commented on #63
@mayankgoyal-13 the screenshots are outdated , please add them ASAP

[2021-10-04 15:33] san-coding opened #95 "Create a video demonstrating the functionalities of the web app"
The app hosted on 000webhost is facing some issues with login/registration and screenshots are outdated.

Run the app locally and create a video demonstrating the functionalities of the web app [HIGH PRIORITY]

[2021-10-04 15:49] Aashish-cyber commented on #60
assgin me.

[2021-10-04 16:08] san-coding commented on #60
Done

[2021-10-04 16:09] sudhay23 opened #96 "Setup GitHub actions to deploy static website"
This page should automatically be updated over the internet upon editting

[2021-10-04 16:10] san-coding commented on #96
Sure @sudhay23

[2021-10-04 16:13] san-coding commented on #96
[This](https://github.com/marketplace?type=&verification=&query=netlify+preview+,) might help, you'd have to have a netlify account. The easier way would be to just get a netilfy account and set up a netlify bot on your repo, it'll auto-build on each commit on every PR.

[2021-10-04 16:15] san-coding commented on #96
no first you do ML assignment lol

On Mon, 4 Oct 2021 at 21:40, Sudhay ***@***.***> wrote:

[2021-10-04 16:21] san-coding opened #98 "Add Warning popup modal for Social Login buttons"
Social login buttons have been added , but they're not functional yet.

Add an attractive popup modal that says `Social logins are temporarily unavailable, please register using the registration form ` until the social logins are made functional

[2021-10-04 16:27] #92 closed

[2021-10-04 16:33] sudhay23 commented on #96
@san-coding Looks like it failed lol

[2021-10-04 16:38] san-coding commented on #96
yeah

[2021-10-04 16:39] san-coding commented on #96
@sudhay23 website is down now

[2021-10-04 16:42] sudhay23 commented on #96
Yeah 😅

[2021-10-04 16:57] sudhay23 commented on #96
@san-coding Close this now?

[2021-10-04 17:03] sudhay23 opened #105 "404 page photo is broken"
404 page photo is broken

[2021-10-04 17:04] san-coding commented on #105
@sudhay23 shall I do it ?

[2021-10-04 17:05] sudhay23 commented on #105
@san-coding Yeah sure

[2021-10-04 17:16] #105 closed

[2021-10-04 17:29] #96 closed

[2021-10-04 17:51] akshatjain1004 commented on #98
I would like to work on this issue

[2021-10-04 18:01] Omkar845 commented on #98
Can I work on this issue

[2021-10-04 18:35] san-coding commented on #98
Since @akshatjain1004 came first i will assign it to her, @Omkar845 i will open issues and assign it to you

[2021-10-04 18:38] san-coding commented on #98
test comment

[2021-10-04 18:39] san-coding commented on #98
@sridhar-5 , `example` workflow is malfunctioning 👆🏻

[2021-10-04 19:17] SushantPatial commented on #90
Yes I am working on it

[2021-10-05 03:09] vikkastiwari commented on #95
Assign this issue to me. I will work on it and create a video demonstrating the functionalities.

[2021-10-05 04:16] sudhay23 commented on #95
@vikkastiwari Are you able to run it locally??

[2021-10-05 05:22] shubhrastogi07 commented on #29
I would like to work on #32 issue
please assign it to me

[2021-10-05 06:25] san-coding commented on #29
@shubhrastogi07 currently favicon is present only in the index.html page, add it to the whole web app

[2021-10-05 06:25] san-coding commented on #29
you can open a PR for that

[2021-10-05 06:35] vikkastiwari commented on #95
Yes, I am setting up the project locally. Though I tried running it on a local server now going with xampp.

[2021-10-05 06:42] san-coding commented on #63
@omkar645 would you like to work on this documentations issue ?

[2021-10-05 06:44] san-coding commented on #95
feel free to reach out for any help 👍🏻, join our discord, link in readme

[2021-10-05 07:58] san-coding commented on #63
@vikastiwari would like to work on this , until we fix that .env error ?

[2021-10-05 08:08] san-coding commented on #63
@vikkastiwari would you like to work on this while we sort out that issue ? just update the landing page, and login page screenshots from  [ShopOnline](http://shoponline-web.000webhostapp.com/)

[2021-10-05 08:08] Omkar845 commented on #63
Yes assign me I will work on it ??

[2021-10-05 08:33] vikkastiwari commented on #63
Okay

[2021-10-05 09:34] san-coding commented on #63
Two PR ? 👀

[2021-10-05 09:44] vikkastiwari commented on #63
You assigned I worked on it... :)

[2021-10-05 10:18] san-coding commented on #63
I asked both of you, I had assigned this to @mayankgoyal-13 who in not responding, but its okay, I will try merging both one after the other (since both your readme changes have some differences), the second PR I choose to merge will have to solve merge conflicts, but please don't repeat this , I as maintainer don't like to choose one PR over the other 😅

[2021-10-05 10:28] vikkastiwari commented on #63
Okay

[2021-10-05 15:10] san-coding commented on #98
@akshatjain1004 are you working on this ?

[2021-10-05 15:28] san-coding commented on #60
@Aashish-cyber are you working on this ?

[2021-10-05 16:16] Aashish-cyber commented on #60
Yeah,, I am working on it, actually it's my first contribution to open
source so and i am making this chat bot using dialogue flow API,,

On Tue, 5 Oct, 2021, 8:58 pm Sandeep Rajakrishnan, ***@***.***>
wrote:

[2021-10-05 16:19] san-coding commented on #60
Ohh alright

[2021-10-05 17:32] bhaveshgoyal182 opened #116 "Fix the mobile/responsive view"
The website is not mobile friendly or it seems to be not an appealing one. Would love to work on this one !

![image](https://user-images.githubusercontent.com/60166991/136073772-453d42b0-3c66-4d0a-b5c1-728e34d115a0.png)
![image](https://user-images.githubusercontent.com/60166991/136073803-68e840a2-716a-4aee-843d-31ed4ee2432d.png)

[2021-10-05 17:44] san-coding commented on #116
Go ahead

[2021-10-06 05:41] sudhay23 opened #118 "Add templates for Issues"
We would love to have prebuilt templates for Issues

Refer [this](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/manually-creating-a-single-issue-template-for-your-repository#adding-an-issue-template)

[2021-10-06 05:44] sudhay23 opened #119 "Add templates for Pull requests"
We would love to have prebuilt templates for Pull requests

Refer [this](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository#adding-a-pull-request-template)

# TEMPLATE

This PR fixes #

**Description**

**Screenshot**

**Checks**
- [ ] I ensured that my changes are working fine locally
- [ ] I sig

[2021-10-06 05:53] ashwinexe commented on #119
Hey, I can work on this

[2021-10-06 05:53] sudhay23 commented on #119
Great you can

[2021-10-06 06:16] san-coding opened #120 "Change .env_samples credentials to root credentials and update installation guidelines"
Change .env_samples credentials to root credentials and update installation guidelines

[2021-10-06 06:17] vikkastiwari commented on #120
Please assign this to me :)

[2021-10-06 06:23] pratik1424 commented on #118
I can work on this. I'll be glad if you assign me to do this.

[2021-10-06 06:32] sudhay23 commented on #118
Yeah sure :+1

[2021-10-06 06:35] #28 closed

[2021-10-06 07:14] #119 closed

[2021-10-06 07:15] san-coding commented on #118
@pratik1424 you can refer to this PR #122

[2021-10-06 08:01] pratik1424 commented on #118
I have opened a PR for the same. Waiting for your review. Let me know if any changes are required.
Thanks.

[2021-10-06 08:20] #90 closed

[2021-10-06 08:25] #120 closed

[2021-10-06 10:20] mayankgoyal-13 commented on #63
sorry for the delay, my exams were going on

[2021-10-06 10:32] mayankgoyal-13 opened #127 "Add GitHub social login button"
Reason:
1) There is a typo in the copyright section on the login page
2) Add Login with the Instagram button on the the page

Screenshot :
![image](https://user-images.githubusercontent.com/65842833/136186775-94186f71-6c60-491a-9fa6-0880737fc6e7.png)

[2021-10-06 10:33] mayankgoyal-13 commented on #127
pls assign this to me

[2021-10-06 10:57] mayankgoyal-13 opened #129 "Add Favicons to all the web-pages"
Issue: At current, the favicon is present only on the index page. Add this to all the web-pages

[2021-10-06 10:57] mayankgoyal-13 commented on #129
Pls assign this issue to me

[2021-10-06 12:31] SushantPatial opened #134 "Hover buttons for the navbar"
I'd like to add hover effects for the navbar buttons.

@san-coding

[2021-10-06 18:44] AwsmNinad25 opened #138 "Change font-style of nav-bar within Login page and admin page"
Currently the font-style of nav-bar within landing page is bold where as in login as well as admin page the nav-bar style is regular.
Change the font-style of nav-bar within Login page and admin page to bold so that it matches with nav-bar of landing page.

[2021-10-06 18:47] Omkar845 commented on #138
Can i work on this issue

[2021-10-06 19:00] #134 closed

[2021-10-07 03:24] cyberwizard1001 commented on #63
Is this closed or open 👀

[2021-10-07 03:26] san-coding commented on #63
@mayankgoyal-13 are you going to open any PR related to this ?

[2021-10-07 03:32] sudhay23 commented on #63
@cyberwizard1001 @san-coding Looks like we have some merged PRs to this already..? Are we still pending on this?

[2021-10-07 03:34] sudhay23 commented on #63
@cyberwizard1001 By the way we have a popup that comes if you visit https://shoponline-web.000webhostapp.com/ for the first time and I don't see a screenshot yet. Maybe you can help us out there with a PR if you wish. 😄

[2021-10-07 03:37] san-coding opened #140 "Integrate Social Login in a Web API Solution"
**Current State**

Social logins buttons aren't functional

**Desired State**

Implement Backend with any Auth provider (preferably Auth0), open up child issues for each task
(Dont generate your own API keys)

- [ ] #141
- [ ] #144
- [ ] #142
- [ ] #145

### Feel free to open issues / PRs for whichever social logins you had like to integrate
Make sure the issue names are uniform - `Implement (Soci

[2021-10-07 03:40] san-coding commented on #95
Maybe he can make short videos for each functionality? @sudhay23

[2021-10-07 03:41] sudhay23 opened #141 "Implement Google login authentication"
**Current State**
Google login buttons isn't functional

**Desired State**

Implement Backend with for the Login with Google button
" Derieved from #140 "

### Do not generate your own API keys (Ask for the keys, when you start working on the issue)

[2021-10-07 03:43] san-coding commented on #141
Yes templates aren't working

[2021-10-07 03:52] san-coding commented on #95
Yes that would be awesome

On Thu, 7 Oct 2021 at 09:20, Vikas Tiwari ***@***.***> wrote:

[2021-10-07 03:57] san-coding opened #142 "Implement Twitter login authentication"
Refer #140 for issue description

### Do not generate your own API keys (Ask for the keys, when you start working on the issue)

[2021-10-07 03:59] san-coding commented on #142
@sudhay23 shall I work on this ?

[2021-10-07 04:02] Himanshu664 commented on #142
/assign

[2021-10-07 04:10] san-coding opened #144 "Implement Facebook login Authentication"
Check #140 for issue details/description

### Do not generate your own API keys (Ask for the keys, when you start working on the issue)

[2021-10-07 04:11] san-coding opened #145 "Implement Github login authentication"
Refer #140 for for issue description

### Do not generate your own API keys (Ask for the keys, when you start working on the issue)

[2021-10-07 04:17] san-coding commented on #140
Make sure the issue names are uniform c`Implement (Social-media) login authentication`

[2021-10-07 04:28] JuniorS6 commented on #140
@san-coding I would like to work on this

[2021-10-07 04:28] JuniorS6 commented on #140
Please assign this task to me.

[2021-10-07 04:31] san-coding commented on #140
@JuniorS6 which task would you like to work on ?

[2021-10-07 04:39] JuniorS6 commented on #140
I would like to work on Github login auth

[2021-10-07 04:59] san-coding commented on #140
comment on that issue

[2021-10-07 05:14] san-coding commented on #145
Fork and make sure your branch is even with main before pushing your commits👍🏻

[2021-10-07 05:52] san-coding opened #146 "Problem with issue template"
- [ ] I ensure that this feature or anything similar to this does not exist in the website.

**Does your feature request solve any on going issue? Please describe.**

**Describe the uses of this feature**

**Additional context**

## 👆🏻asks a lot of questions, a simple current state , desired state, screenshots should be enough

[2021-10-07 05:55] sudhay23 commented on #95
That'd be really cool. You may add a suitable one 👍

[2021-10-07 06:01] sudhay23 commented on #146
@san-coding Here you go

[2021-10-07 06:10] #146 closed

[2021-10-07 08:46] #29 closed

[2021-10-07 08:57] #69 closed

[2021-10-07 11:08] TishaJhabak1014 commented on #86
@san-coding hey, I worked on it partly, but I am having a hard time navigating through the repository.

[2021-10-08 08:30] Omkar845 opened #152 "Add Box shadow on Signup card"
Add box shadow effect on sign up card similar to login card

[2021-10-08 12:52] raj-laddha opened #153 "Able to change password format using inspect"
**Current State**

Form details are not being checked

**Desired State**

Must check the form details before submitting

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

![Screenshot from 2021-10-08 18-20-56](https://user-images.githubusercontent.com/67504603/136560136-7afdce32-ab6c-4f6a-9a57-7f0470fef84e.p

[2021-10-09 05:28] san-coding commented on #95
after that , we can merge the PR

[2021-10-09 05:41] vikkastiwari commented on #95
Like how the data is stored and what changes take place when we make changes in the frontend right?

[2021-10-09 06:28] sudhay23 commented on #153
@raj-laddha Welcome to ShopOnline. Make sure to join our Discord server from the README. 🎉

[2021-10-09 06:40] vikkastiwari commented on #95
Actually, It's still unclear if you can put more light on it then it would be awesome.

[2021-10-09 14:08] ainy-123 opened #155 "Implement linkedin login authentication"
Current State
linkedin login buttons isn't functional

Desired State

Implement Backend with for the Login with linkedin button
" Derived from #140 "

Do not generate your own API keys (Ask for the keys, when you start working on the issue)

[2021-10-09 14:11] ainy-123 commented on #155
I would like to work on this issue.

[2021-10-09 14:19] #155 closed

[2021-10-10 13:44] #88 closed

[2021-10-10 13:48] san-coding commented on #12
@ShlokMohanty , sure , please start working on this

[2021-10-10 13:50] san-coding commented on #86
@TishaJhabak1014 , have you figured it out ? you can refer to the changes made in #75

[2021-10-10 13:57] vikkastiwari commented on #95
Okay I will work on it.

[2021-10-10 13:57] san-coding opened #156 "Subscribe us button is not functional"
**Current State**

There is a subscribe us button in the landing page UI but it doesn't redirect anywhere

**Desired State**

It should bring up a popup asking for email, and send an automatic email to the entered email

**Screenshots**

<img width="1255" alt="image" src="https://user-images.githubusercontent.com/65719940/136698817-a3892d18-823a-473b-abb1-065641d5637f.png">
(Currently the button i

[2021-10-10 14:17] vikkastiwari commented on #95
Got it, Now I have to login as admin and demonstrate functionalities with respect to it. Right?

[2021-10-10 17:23] san-coding commented on #98
Alright

[2021-10-11 03:16] vikkastiwari commented on #95
If it seems fine, then let me know how I can make my contribution count.

[2021-10-11 03:18] #152 closed

[2021-10-11 04:40] san-coding commented on #95
Thanks @vikkastiwari you can go ahead and create the PR, for now , you can add this under the screenshots, soon we will be deleting the screenshots and have just the videos

[2021-10-11 07:21] #95 closed

[2021-10-11 08:40] san-coding commented on #156
Sure

[2021-10-11 12:38] sudhay23 commented on #156
![](https://cdn.optinmonster.com/wp-content/uploads/2017/09/aweber-welcome-email-best-practices-1.jpg)

Something of this sort might work

@raj-laddha

[2021-10-11 12:53] ShyamaHarihar opened #161 "Migrate to React"
**Describe the uses of this feature**

Migrate Login Screen to React

**trying out a new framework**

**Additional context**

elegant ui with semantic ui

[2021-10-11 12:53] sudhay23 commented on #10
@ShyamaHarihar Thanks for evincing interest. Unfortunately, this is something that one of the maintainers can only address. Please go through one of our other open issues or feel free to open new ones. Join us on Discord from the link in Readme file

[2021-10-21 09:28] #161 closed, assigned to ShyamaHarihar

[2021-10-21 12:35] san-coding commented on #60
the remote origin should be your fork of this repo

[2021-10-21 15:07] san-coding commented on #129
Welcome @Sumithra-Sudhakar 🎉

[2021-10-21 15:22] cyberwizard1001 commented on #141
@san-coding Can I work on this?

[2021-10-21 15:28] san-coding commented on #145
sure @cyberwizard1001

[2021-10-21 15:29] san-coding commented on #141
can you take this up after the GitHub login?

[2021-10-22 01:04] cyberwizard1001 commented on #141
I am planning to use Firebase login, so the steps aren't going to be that different. Will begin with Github and work my way through all of them

[2021-10-22 04:12] ainy-123 commented on #155
Yes

[2021-10-22 17:49] san-coding opened #165 "setup stale.yml workflow"
**Describe the uses of this feature**

**Does your feature request solve any on going issue? Please describe.**

**Additional context**

[2021-10-23 06:14] #165 closed, assigned to nobody

[2021-10-25 10:22] san-coding opened #167 "Deleted unwanted files"
**Describe the uses of this feature**

**Does your feature request solve any on going issue? Please describe.**

**Additional context**

[2021-10-25 10:30] #167 closed, assigned to nobody

[2021-10-25 10:35] san-coding opened #169 "Setup labeler workflow"
**Current State**

**Desired State**

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

[2021-10-25 10:39] #169 closed, assigned to nobody

[2021-12-06 08:46] #13 closed

[2021-12-07 08:47] #15 closed

[2021-12-12 08:44] #44 closed

[2021-12-13 08:45] #116 closed

[2021-12-14 08:46] #140 closed

[2021-12-14 08:46] #63 closed

[2021-12-18 08:46] #98 closed

[2021-12-18 08:46] #86 closed

[2021-12-18 08:46] #10 closed

[2021-12-19 08:45] #12 closed

[2021-12-28 08:47] #145 closed

[2021-12-29 08:47] #144 closed

[2021-12-29 08:47] #142 closed

[2021-12-29 08:47] #141 closed

[2021-12-29 08:47] #129 closed

[2021-12-29 08:47] #127 closed

[2021-12-29 08:47] #60 closed

[2021-12-30 08:47] #156 closed

[2022-01-17 22:04] JamieSlome opened #172 "How to get in touch regarding a security concern"
Hey there!

I belong to an open source security research community, and a member (@fturan0) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice

[2022-03-26 08:43] #172 closed, assigned to nobody

[2022-04-29 08:44] JamieSlome commented on #172
@sudhay23 - just a heads up that the report can be found directly here:
https://www.huntr.dev/bounties/a3c8a9d0-172a-4fda-b437-8610a7382b06/

It is private and only accessible to you 👍